<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog API Project</title>
</head>
<body>
    <h1>BLOG API</h1>

    <a href="/blog-api/login">LOGIN</a>
    &emsp;&emsp;
    <a href="/blog-api/sign-up">SIGN-UP</a>
</body>
</html>