<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a post</title>
</head>
<body>
    <h3>Write post here...</h3>
    <form action="" method="POST">
        <div style="display: inline; width: 500px; height: 200px;">
            <div style="display: flex; flex-direction: column; row-gap: 5px;">
                <input type="text" name="title" placeholder="title..." required />
                <textarea style="resize: none; height: 300px; white-space: pre-wrap;" type="text" name="message" placeholder="message..." required></textarea>    
            </div>
        </div>
        <br />
        <button style="cursor: pointer;">SUBMIT</button>
    </form>
</body>
</html>